package {{.ServiceNamePkg}}

import "{{.ModulePath}}/internal/{{.ServiceName}}/repository"

type QrysHandler interface {
	// Add your query handlers here
}

type qrysHandler struct {
	readRepo *repository.Module
}

func NewQrysHandler(readRepo *repository.Module) QrysHandler {
	return &qrysHandler{
		readRepo: readRepo,
	}
} 